@import url('https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap');

body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  font-family: 'Sulphur Point', sans-serif;
  font-size: large;
  width: 100%;
  /* border: 3px solid black; */
  left: 30%;
}

/* ----------Nav bar----------  */
.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
  background-color: #c3dae4;
  opacity: 1;
}

.nav-list {
  display: flex;
  list-style: none;
  margin-right: 2rem;
  font-size: 20px;
}

#nav-yelp{
  margin-right: 20px;
}

#nav-btn{
  margin-right: 20px;
}

/* ----------welcome section----------  */
.info-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
  background:  url('./brooke-lark-wMzx2nBdeng-unsplash.jpg');
  /* background-size: left/cover; */
  /* background-repeat: no-repeat; */
  padding-top: 30px;
  padding-bottom: 20px;
  margin-top: 30px;
}

.welcome{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: larger;
}

#foodie-head{
  font-size: 60px;
  margin-bottom: 0;;
  text-decoration: underline;
}

#explain{
  font-weight: bold;
  text-shadow: rgb(240, 240, 240) 1px 0 10px;
}


/* ----------Lodding page----------  */
.loading-container{
  margin: 20px;
}

.loading{
  display: inline-block;
  transform: 2;
  
}

.spinner{
  display: inline-block;
  position: relative;
  left: 5px;
  top: 5px;
  width: 25px;
  height: 25px;
}

@media (prefers-reduced-motion: no-preference){
  .spinner{
    animation: spinner-spin infinite 1s linear;
  }
}

@keyframes spinner-spin {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

/* ----------Login----------  */
#title{
  font-size: 50px;
}

.logging-in-box{
  border: 4px solid black;
  border-radius: 2em;
  display: flex;
  top: 50%;
  left: 50%;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin: 4em auto;
  padding: 1em 2em 2em 2em;
}

.log-input{
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  background: #fafafa;
  color: #636363;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #757575;
}

#username{
  border: 0;
  appearance: none;
  background: #fafafa;
  outline: none;
  border: none;
  background-color: #f5f5f5;
  font-size: 1rem;
}

.log-input:focus { 
  outline: none; 
}

#login-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 30px;
  cursor: pointer;
  background-color: transparent;
  text-transform: uppercase;
  margin-top: 20px;
}

#login-btn:hover{
  background-color: #d6f6f7;
}

/* ----------Review contents----------  */

.reviews-contents{
  position: relative;
  left: 20px;
  top: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: row;
}

#review-ul{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#review-write-btn{
  background-color: #75c3e4;
  position: absolute;
  top: 100px;
  left: 5px;
  padding: 5px 10px 5px 10px;
}

#review-write-btn:hover{
  background-color: #26ace6;
}

#reivew-box{
  padding: 20px;
  border: 3px solid #7db6b6;
  border-radius: 10px;
  margin: 2rem;
  width: 500px;
  height: fit-content;
  text-align: left;
  box-shadow: 0px 0px 15px rgba(48, 87, 255, 0.4);
}

#reivew-box:hover{  
  transform: scale(1.1);
  background-color: wheat;
  opacity: 1;
}

#review-delete{
  position: relative;
  left: 95%;
  display: flex;
  width: fit-content;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.restaurant{
  font-weight: bolder;
}

#rev-tex{
  width: 480px;
  height: fit-content;
}

p#rev.restaurant{
  overflow-wrap: break-word;
  margin: 10px;
  display: flex;
  justify-content: left;
  width: 80%;
  height: fit-content;
  font-size: 1.1rem;  
}

#no-review-write-btn{
  background-color: #75c3e4;
  display: inline-block;
  position: absolute;
  padding: 5px 10px 5px 10px;
  left:2%;
  top:45%;
}

#no-review-write-btn:hover{
  background-color: #26ace6;
}

#no-review{
  position: absolute;
  left:2%;
  top:40%;
}


/* ----------Review Form----------  */
.add-form{
  position: absolute;
  left: 10%;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  border: 1.5px solid #d1d1d1;
  width: 500px;
}

#add-name{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

#restaurant-name{
  width: 100%;
  padding: 10px 0 10px 10px;
  outline: none;
  border-radius: 5px;
  border: none;
  background-color: #f5f5f5;
  font-size: 1rem;
}

#reviewinput{
  width: 300px;
  height: 70px;
  outline: none;
  border-radius: 5px;
  border: none;
  background-color: #f5f5f5; 
  resize: none;
  padding: 10px 5px 10px 10px;
  font-size: 1rem;
}

#review-rating{
  margin-bottom: 10px;
}

.dropdown{
  display: inline-block;
  margin-left: 10px;
}

#back{
  position: relative;
  left: 135px;
  padding: 5px 10px;
}

